/* Contenedor general del formulario */
.hero-header {
    background-color: #4ca2ff;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del título dentro del encabezado */
.hero-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* Edicion del formulario */
.edit-hero-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Tarjeta del formulario */
.hero-card {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::placeholder {
    color: #999;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus {
    border-color: #3b96f8;
    outline: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #3b96f8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: #005cbe;
}

.cancel-button {
    background-color: #dc3545;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: #c82333;
}

.form-error-message {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.success-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.success-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ok-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ok-button:hover {
    background-color: #218838;
}

.back-button, .update-button, .cancel-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
